*{
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;
  }

th{
    border:1px solid #eb5c14;
    border-radius: 6px;
    padding:4px;
    font-size:20;
    color:#eb5c14;
    /* background: #eb5c14; */
}
table{
    width: 100%;
    font-size:25;
    /* border-color: black; */
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 1450px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);   
}
td{
    border-radius: 6px;
    text-align: center;
    border-color:#eb5c14;
}
